<!DOCTYPE html>
<html>
<head>
    <title>🚀 Awesome Preview Page 🌟</title>
    <style>
        .preview {
            background-color: #f2f2f2;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .preview h1 {
            font-size: 48px;
            color: #333;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="~{/utils/_header}"></div>

<div class="preview">
    <h1>Welcome to the KnowledgePortal Preview Page!</h1>
</div>
</body>
</html>






